aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
backoff
bcrypt
blinker
build
cachetools
certifi
charset-normalizer
chromadb
click
colorama
coloredlogs
dataclasses-json
distro
durationpy
exceptiongroup
filelock
filetype
Flask
Flask-CORS
flatbuffers
frozenlist
fsspec
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
gunicorn
h11
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
itsdangerous
Jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kubernetes
langchain
langchain-community==0.3.27
langchain-core==0.3.74
langchain-google-genai==2.1.9
langchain-text-splitters==0.3.9
langsmith
markdown-it-py
MarkupSafe
marshmallow
mdurl
mmh3
mpmath
multidict
mypy_extensions
numpy
oauthlib
onnxruntime
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
overrides
packaging
posthog
propcache
proto-plus
protobuf
pyasn1
pyasn1_modules
pybase64
pydantic
pydantic-settings
pydantic_core
Pygments
pyparsing
pypdf==6.0.0
PyPika
pyproject_hooks
pyreadline3
python-dateutil
python-dotenv
PyYAML
referencing
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
shellingham
six
sniffio
SQLAlchemy
sympy
tenacity
tokenizers
tomli
tqdm
typer
typing-inspect
typing-inspection
typing_extensions
uritemplate
urllib3
uvicorn
watchfiles
websocket-client
websockets
Werkzeug
yarl
zipp
zstandard
